

.contacto {
    display: flex;
    height: 150px;
    align-items: flex-end;
    justify-content: center;
    font-size: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
