
/* TRABAJO SOBRE LAS PAGINAS SECUNDARIAS */


 .englobador {

    height: 500px;
    display: grid;
    grid-template-areas: 
     "englobado1 englobado2"
     "englobado3 englobado4";
     row-gap: 35px;
     column-gap: 35px;
  }
  
    .englobado1 {
    @include englobado;
    grid-area: englobado1;

  
  }
  
   .englobado2 {
    @include englobado;
    grid-area: englobado2;

  
  }
  
   .englobado3 {
    @include englobado;
    grid-area: englobado3;

  
  }
  
  .englobado4 {
    @include englobado;
    grid-area: englobado4;

  
  }
  
  .englobado1:hover {
  @include hover;
  }
  
  @keyframes onion  {
    100% {
  background-color: $color-casillas-hover;}
  }
  
  .englobado2:hover {
    @include hover;
  }
  
  @keyframes onion  {
    100% {
  background-color: $color-casillas-hover;}
  }
  
  .englobado3:hover {
    @include hover;
  }
  
  @keyframes onion  {
    100% {
  background-color: $color-casillas-hover;}
  }
  
  .englobado4:hover {
    @include hover;
  }
  
  @keyframes onion  {
    100% {
  background-color: $color-casillas-hover;}
  }
