/* TRABAJO SOBRE LAS PAGINAS SECUNDARIAS */


 .englobador {

    height: 500px;
    display: grid;
    grid-template-areas: 
     "englobado1 englobado2"
     "englobado3 englobado4";
     row-gap: 35px;
     column-gap: 35px;
  }
  
    .englobado1 {
    background-color: #6154ef;
    grid-area: englobado1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  
  }
  
   .englobado2 {
    background-color: #6154ef;
    grid-area: englobado2;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  
  }
  
   .englobado3 {
    background-color: #6154ef;
    grid-area: englobado3;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  
  }
  
  .englobado4 {
    background-color: #6154ef;
    grid-area: englobado4;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  
  }
  
  .englobado1:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes onion  {
    100% {
  background-color: #d0478c;}
  }
  
  .englobado2:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes onion  {
    100% {
  background-color: #d0478c;}
  }
  
  .englobado3:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes onion  {
    100% {
  background-color: #d0478c;}
  }
  
  .englobado4:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes onion  {
    100% {
  background-color: #d0478c;}
  }
