$color-casillas: #6154ef;
$color-casillas-hover: #d0478c;
$color-gradiente: linear-gradient(35deg, #0bc1c1, #1d0fe4);
$spacing: center;
$bold: bold;
$bolder: bolder;



.background {

    border-radius: 20px;
    width: 100%;
    height: 450px;
    margin: auto;
    background: $color-gradiente;
    font-family:'Courier New', Courier, monospace;
    color: rgb(182, 191, 199);
    opacity: 10px;
    }

    .background-1 {

        border-radius: 20px;
        width: 100%;
        height: 450px;
        margin: 50px auto;
        background: $color-gradiente;
        font-family:'Courier New', Courier, monospace;
        
        opacity: 10px;
        }




span {

    color: red;
}

#parrafo {
    color: #cfcee3;
}









                
              
    #no-point {

        list-style-type:circle ;
    }

    .div-grid {
        height: 500px;
        justify-content: start
    } 