
.background {

    border-radius: $radio*2;
    width: $ancho*2;
    height: $altura*2;
    margin: auto;
    background: $color-gradiente;
    font-family:'Courier New', Courier, monospace;
    color: rgb(182, 191, 199);
    opacity: 10px;
    }

    .background-1 {

        border-radius: $radio*2;
        width: $ancho*2;
        height: $altura*2;
        margin: 50px auto;
        background: blue;
        font-family: 'Courier New', Courier, monospace;
        opacity: 10%;
        }




span {

    color: orange;
    
}

#parrafo {
    color: #cfcee3;
}

  #no-point {

        list-style-type:circle ;
    }

    .div-grid {
        height: 500px;
        justify-content: start
    } 

    #text-align {
        text-align: $spacing;

    }