/*  MEDIA QUERY  MAYOR A 500PX */


$span-color: rgb(108, 197, 226);

  

@media screen and (min-width: 501px)
{


 .container1 {
   @include container;

 }

 .container1 h2 {  
 background: url(../images/despacho.jpg) ;
 height: 400px;
 border-radius: 10px;;
 text-align: center;
 flex: 1;
 opacity: 80%;
 color: #c13f0b;
  
}

.container1 p {
   flex: 1;
   font-weight: bolder;
   font-size: large;
  
   


}

.container1 a {
   color: blue;
   


}

.container2 {
   @include container;
}





.container2 h3 {
   background: url(../images/formularios-utiles.jpg);
   background-size: contain;
   border-radius: 15px;
   padding-top: 199px;
   text-align: center;
   color: rgb(251, 255, 0);
   height: 400px;
   width: 300px;
   flex: 0 0 500px;

}






.shaders {
   border-radius: 15px;
   box-shadow: 10px 5px 5px lightblue;;
}


   
 
 h1 {
   text-align: $spacing;
   font-weight: bold;
 }

 h3 {
   text-align: $spacing;
   font-weight: bold;
 }

 p {
   text-align: $spacing;
 }

 #span-color {

   color: $span-color
 }

 h2 {
   text-align: $spacing;
   font-weight: bold;
 }




 .caja-principal {
   display: grid;
   grid-template-areas: 
   "caja-accidente caja-definicion-accidente"
   " caja-despido caja-definicion-despido"
   "caja-jubilacion   caja-definicion-jubilacion";
   grid-template-columns: 1fr 2fr;
   row-gap: 200px;
   column-gap: 50px;
   height: 1500px;
   padding-top: 100px;
   padding-left: 50px;
   padding-right: 50px;
}


.caja-accidente {
   display: grid;
   grid-area: caja-accidente;
   justify-items: $spacing;
   align-items: $spacing;
   border-radius: 10px;
   background: url(./images/casco.jpg) ;
   background-size: cover;
   font-size: 25px;
   text-align: center;
   
   color: whitesmoke;
   
   font-weight: $bold;
}
   
   .caja-definicion-accidente {
       display: grid;
       grid-area: caja-definicion-accidente;
       
       justify-items: $spacing;
       align-items: $spacing;
       border-radius: 10px;
       
       font-weight: $bold;
       
       }

.caja-despido {
   display: grid;
   grid-area: caja-despido;
   justify-items: $spacing;
   align-items: $spacing;
   border-radius: 10px;
   background: url(./images/despido.jpg);
   background-size: cover;
   font-weight: $bold;
   color: black;
   font-size: 25px;
   text-align: center;
   
}

.caja-definicion-despido {
   display: grid;
   grid-area: caja-definicion-despido;
   background-color: whitesmoke;
   justify-items: $spacing;
   align-items: $spacing;
   border-radius: 10px;
   font-weight: $bold;
  
   
   }

.caja-jubilacion {
   display: grid;
   grid-area: caja-jubilacion;
   background: url(./images/old-folks.jpg);
   background-size: contain;
   opacity: 80% ;
   justify-items: $spacing;
   align-items: center;
   color: black;
   text-align: center;
   border-radius: 10px;
   font-weight: $bold;
   font-size: 30px;
   }


.caja-definicion-jubilacion {
   display: grid;
   grid-area: caja-definicion-jubilacion;
   background-color: whitesmoke;
   justify-items: $spacing;
   align-items:$spacing;
   border-radius: 10px;
   text-align: center;
   font-weight: $bold;
   
   }

 


               .caja-definicion-empresarial:hover {
                   @include hover;
             }
           
               @keyframes onion  {
                   100% {
                background-color:$color-casillas-hover;
               }
             }
 


.cajafinal {

   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-content: $spacing;
   height:800px;
   background: linear-gradient(35deg, #0bc1c1, #1d0fe4);
}

.caja-contacto {

   @include cajas;
   
}

.caja-contacto:hover {
   @include hover;}

@keyframes onion {


   100% {
background-color: $color-casillas-hover;
}
}


   .caja-mail {
      @include cajas;
}

.caja-mail:hover {
   @include hover;
}

@keyframes onion  {
   100% {
background-color: $color-casillas-hover;}
}


.caja-telefono {
   @include cajas;

}

.caja-telefono:hover {
@include hover;
}

@keyframes onion  {
   100% {
background-color:$color-casillas-hover;}
}

a { color: white;
   justify-content: center;
   justify-items: center;
   align-items: center;
   text-align: center;
}
}


