/*  MEDIA QUERY  MAYOR A 500PX */




  

@media screen and (min-width: 501px)
{


 .container1 {
   background-image: url(martillo.jpg);
   background-size: cover;
   text-align: justify;
   max-width:max-content;
   color: rgb(174, 175, 183);
   text-align: justify;
   font-family: 'Courier New', Courier, monospace;
 }
 
 h1 {
   text-align: $spacing;
 }

 p {
   text-align: $spacing;
 }

 h2 {
   text-align: $spacing;
 }




 .caja-principal {
   display: grid;
   grid-template-areas: 
   "caja-definicion-societaria caja-definicion-laboral caja-definicion-empresarial"
   "caja-empresarial          caja-laboral                  caja-societaria";
   background-color: #1d0fe4;
   row-gap: 100px;
   column-gap: 100px;
   
   height: 1500px;
   

  
}

.caja-empresarial {
   display: grid;
   grid-area: caja-empresarial;
   justify-items: $spacing;
   align-items: $spacing;
   border-radius: 10px;
   background-color: $color-casillas;
   opacity: 80%;
   font-weight: $bold;}

   .caja-empresarial:hover {
       transform: scale(1.1);
       animation-name: onion;
       animation-duration: 0.5s;
       animation-fill-mode: forwards;
 }

   @keyframes onion  {
       100% {
    background-color: $color-casillas-hover;
   }
 }
   


.caja-laboral {
   display: grid;
   grid-area: caja-laboral;
   background-color: $color-casillas;
   justify-items: $spacing;
   align-items: $spacing;
   border-radius: 10px;
   font-weight: $bold;
   opacity: 80%;}

   .caja-laboral:hover {
      @include hover;
     
 }

   @keyframes onion  {
       100% {
    background-color: $color-casillas-hover;
   }
 }

.caja-societaria {
   display: grid;
   grid-area: caja-societaria;
   background-color:$color-casillas;
   justify-items: $spacing;
   align-items:$spacing;
   border-radius: 10px;
   
   font-weight: $bold;
   opacity: 80%;
   }

   .caja-societaria:hover {
       transform: scale(1.1);
       animation-name: onion;
       animation-duration: 0.5s;
       animation-fill-mode: forwards;
 }

   @keyframes onion  {
       100% {
    background-color: $color-casillas-hover;
   }
 }
   .caja-definicion-societaria {
       display: grid;
       grid-area: caja-definicion-societaria;
       justify-items: $spacing;
       align-items: $spacing;
       border-radius: 10px;
       background-color: $color-casillas;
       
       font-weight: $bold;
       opacity: 80%;
       }

       .caja-definicion-societaria:hover {
           transform: scale(1.1);
           animation-name: onion;
           animation-duration:0.5s;
           animation-fill-mode: forwards;
     }
   
       @keyframes onion  {
           100% {
        background-color:$color-casillas-hover;
       }
     }
       .caja-definicion-laboral {
           display: grid;
           grid-area: caja-definicion-laboral;
           background-color: $color-casillas;
           justify-items: $spacing;
           align-items: $spacing;
           border-radius: 10px;
           
           font-weight: $bold;
           opacity: 80%;
           }

           .caja-definicion-laboral:hover {
               transform: scale(1.1);
               animation-name: onion;
               animation-duration:0.5s;
               animation-fill-mode: forwards;
         }
       
           @keyframes onion  {
               100% {
            background-color: $color-casillas-hover;
           }
         }
           .caja-definicion-empresarial {
               display: grid;
               grid-area: caja-definicion-empresarial;
               background-color:$color-casillas;
               justify-items: $spacing;
               align-items: $spacing;
               border-radius: 10px;
               
               font-weight: $bold;
               opacity: 80%;
               ;
               }

               .caja-definicion-empresarial:hover {
                   @include hover;
             }
           
               @keyframes onion  {
                   100% {
                background-color:$color-casillas-hover;
               }
             }
 


.cajafinal {

   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-content: $spacing;
   height:800px;
   background: linear-gradient(35deg, #0bc1c1, #1d0fe4);
}

.caja-contacto {

   @include cajas;
   
}

.caja-contacto:hover {
   @include hover;}

@keyframes onion {


   100% {
background-color: $color-casillas-hover;
}
}


   .caja-mail {
      @include cajas;
}

.caja-mail:hover {
   @include hover;
}

@keyframes onion  {
   100% {
background-color: $color-casillas-hover;}
}


.caja-telefono {
   @include cajas;

}

.caja-telefono:hover {
@include hover;
}

@keyframes onion  {
   100% {
background-color:$color-casillas-hover;}
}

a { color: white;
   justify-content: center;
   justify-items: center;
   align-items: center;
   text-align: center;
}
}


