
/* MEDIA QUERY HASTA 500PX */

@media screen and (min-width: 100px) and (max-width: 500px)  {
  
  
  @mixin cuerpos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: $spacing;
    align-items: $spacing;
    border-radius: 10px;
    background-color: $color-casillas;
    opacity: 80%;
    font-weight: $bold;
    height: 200px;
    
  }
        
    .container1 {
      background-color: white;
      color: black;
      text-align: justify;
      max-width:max-content;
      color: rgb(174, 175, 183);
      text-align: justify;
      font-family: 'Courier New', Courier, monospace;
    }


    h1 {
      text-align: $spacing;
      font-weight: bold;
    }

    p {
      text-align: $spacing;
    }

    h2 {
      text-align: $spacing;
      font-weight: bold;
    }

      .cajafinal {

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: $spacing;
      height:800px;
      background: $color-gradiente;
  }

  .caja-contacto {
      display: flex;
      align-self: $spacing;
      background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
      background-position: 30cm;
      background-size: 90%;
      opacity: 75%;
      color: rgb(26, 26, 30);
      align-items: flex-end;
      height:400px;
      border-radius: 15px ;
      width: 70%;
      justify-content: $spacing;
      font-weight: $bolder;
      margin: 30px;
      
      
  }

  .caja-contacto:hover {
      transform: scale(1.1);
      animation-name: onion;
      animation-duration:0.5s;
      animation-fill-mode: forwards;}

@keyframes onion {

 
      100% {
   background-color: $color-casillas-hover;
  }
}


      .caja-mail {
        display: flex;
        align-self: $spacing;
        background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
        background-position: 30cm;
        background-size: 90%;
        opacity: 75%;
        color: rgb(26, 26, 30);
        align-items: flex-end;
      height:400px;
      border-radius: 15px ;
      width: 70%;
      
      justify-content: $spacing;
      font-weight: $bolder;
      margin: 30px;
  }

  .caja-mail:hover {
      transform: scale(1.1);
      animation-name: onion;
      animation-duration:0.5s;
      animation-fill-mode: forwards;
}

  @keyframes onion  {
      100% {
   background-color: $color-casillas-hover;}
   }


  .caja-telefono {
    display: flex;
    align-self: $spacing;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: rgb(26, 26, 30);
    align-items: flex-end;
      height:400px;
      border-radius: 15px ;
      width: 70%;
      
      justify-content: $spacing;
      font-weight: $bolder;
      margin: 30px;
  
  }

  .caja-telefono:hover {
      transform: scale(1.1);
      animation-name: onion;
      animation-duration:0.5s;
      animation-fill-mode: forwards;
}

  @keyframes onion  {
      100% {
   background-color: $color-casillas-hover;}
   }


   .caja-principal {
    display: flex; 
    flex-direction: column;
    row-gap: 40px; 
    height: 650px;
    
    }

.caja-empresarial {
    @include cuerpos;
  }

    .caja-empresarial:hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
  }

    @keyframes onion  {
        100% {
     background-color: $color-casillas-hover;
    }
  }
    


.caja-laboral {
   
  @include cuerpos;}

    .caja-laboral:hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
  }

    @keyframes onion  {
        100% {
     background-color: $color-casillas-hover;
    }
  }

.caja-societaria {
  @include cuerpos;
    }

    .caja-societaria:hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
  }

    @keyframes onion  {
        100% {
     background-color: $color-casillas-hover;
    }
  }
    .caja-definicion-societaria {
      @include cuerpos;
        }

        .caja-definicion-societaria:hover {
            transform: scale(1.1);
            animation-name: onion;
            animation-duration:0.5s;
            animation-fill-mode: forwards;
      }
    
        @keyframes onion  {
            100% {
         background-color: $color-casillas-hover;
        }
      }
        .caja-definicion-laboral {
          @include cuerpos;
            }

            .caja-definicion-laboral:hover {
                transform: scale(1.1);
                animation-name: onion;
                animation-duration:0.5s;
                animation-fill-mode: forwards;
          }
        
            @keyframes onion  {
                100% {
             background-color: $color-casillas-hover;
            }
          }
            .caja-definicion-empresarial {
              @include cuerpos;
            
                }

                .caja-definicion-empresarial:hover {
                    transform: scale(1.1);
                    animation-name: onion;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
              }
            
                @keyframes onion  {
                    100% {
                 background-color: $color-casillas-hover;
                }
              }

              a {
                color: white;
              }


}
