// VIARIABLES.-

$color-casillas: #6154ef;
$color-casillas-hover: #d0478c;
$color-gradiente: whitesmoke;
$spacing: center;
$bold: bold;
$bolder: bolder;
$altura: 225px;
$radio: 10px;
$ancho: 50%;
$row-gap: 8px;


// MIXINS.-

@mixin hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        
   
}


@mixin cajas {
        display: flex;
        flex-direction: column;
        align-self: $spacing;
        
        height:400px;
        border-radius: 15px ;
        width: 20%;
        align-items: $spacing;
        justify-content: $spacing;
        font-weight: $bolder;
   
}

@mixin englobado {
        background-color: $color-casillas;
        display: flex;
        flex-direction: column;
        row-gap: $row-gap*2;
        justify-content: $spacing;
        align-items: $spacing;
        border-radius: $row-gap*2-1;
      }



// IMPORTES.-
@import "contacto";
@import "nav";
@import "importencabezado";
@import "fallos";
@import "header";
@import "englobadores";
@import "mediamin";
@import "mediamax"; 


// SOY EL MAPA SOY EL MAPA.-

$colores: (
      contacto: rgb(85, 0, 255),
      mail: blue ,
      telefono: purple,
      fondo-1: whitesmoke,
      fondo-2: blue,

      );

      $fondazo: (
      fondo-1: whitesmoke !important,
      fondo-2: blue !important,

      );

        @each $cajasfinales, $color in $colores {
              .mapa-color-#{
                $cajasfinales} {
                background-color:$color}
              
      }



      @each $colores-fondo, $color in $fondazo {
        .fondo-#{
          $colores-fondo} {
          color:$color}
        
}









 











    

    