@charset "UTF-8";
.contacto {
  display: flex;
  height: 150px;
  align-items: flex-end;
  justify-content: center;
  font-size: 200%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.nuestros-servicios {
  height: 400px;
  font-weight: bolder;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 200%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative; }

.trabajo-ss {
  padding-top: 25px;
  padding-bottom: 25px; }

a:hover {
  color: orange; }

.fuente {
  font-weight: bolder; }

.tamaño-fuente {
  font-size: 20px; }

.encabezado {
  padding-top: 200px;
  padding-bottom: 100px; }

.background {
  border-radius: 20px;
  width: 100%;
  height: 450px;
  margin: auto;
  background: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  color: #b6bfc7;
  opacity: 10px; }

.background-1 {
  border-radius: 20px;
  width: 100%;
  height: 450px;
  margin: 50px auto;
  background: blue;
  font-family: 'Courier New', Courier, monospace;
  opacity: 10%; }

span {
  color: orange; }

#parrafo {
  color: #cfcee3; }

#no-point {
  list-style-type: circle; }

.div-grid {
  height: 500px;
  justify-content: start; }

#text-align {
  text-align: center; }

.encabezado p {
  font-weight: bold;
  font-size: 20px;
  text-size-adjust: 2px;
  padding-top: 100px; }

/* TRABAJO SOBRE LAS PAGINAS SECUNDARIAS */
.englobador {
  height: 500px;
  display: grid;
  grid-template-areas: "englobado1 englobado2" "englobado3 englobado4";
  row-gap: 35px;
  column-gap: 35px;
  padding-top: 50px; }

.englobado1 {
  background-color: blue;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado1; }

.englobado2 {
  background-color: blue;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado2; }

.englobado3 {
  background-color: blue;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado3; }

.englobado4 {
  background-color: blue;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado4; }

.englobado1:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #075f81; } }

.englobado2:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #075f81; } }

.englobado3:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #075f81; } }

.englobado4:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #075f81; } }

/* MEDIA QUERY HASTA 500PX */
@media screen and (min-width: 100px) and (max-width: 500px) {
  .container1 {
    background-color: white;
    color: black;
    text-align: justify;
    max-width: max-content;
    color: #aeafb7;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace; }
  h1 {
    text-align: center;
    font-weight: bold; }
  p {
    text-align: center; }
  h2 {
    text-align: center;
    font-weight: bold; }
  .cajafinal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 800px;
    background: whitesmoke; }
  .caja-contacto {
    display: flex;
    align-self: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: #1a1a1e;
    align-items: flex-end;
    height: 400px;
    border-radius: 15px;
    width: 70%;
    justify-content: center;
    font-weight: bolder;
    margin: 30px; }
  .caja-contacto:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-mail {
    display: flex;
    align-self: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: #1a1a1e;
    align-items: flex-end;
    height: 400px;
    border-radius: 15px;
    width: 70%;
    justify-content: center;
    font-weight: bolder;
    margin: 30px; }
  .caja-mail:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-telefono {
    display: flex;
    align-self: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: #1a1a1e;
    align-items: flex-end;
    height: 400px;
    border-radius: 15px;
    width: 70%;
    justify-content: center;
    font-weight: bolder;
    margin: 30px; }
  .caja-telefono:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-principal {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 650px; }
  .caja-empresarial {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-laboral {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-laboral:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-societaria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-societaria:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-definicion-societaria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-definicion-societaria:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-definicion-laboral {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-definicion-laboral:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-definicion-empresarial {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-definicion-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  a {
    color: white; } }

/*  MEDIA QUERY  MAYOR A 500PX */
@media screen and (min-width: 501px) {
  .container1 {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    color: #aeafb7;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;
    column-gap: 150px;
    height: 780px; }
  .container1 h2 {
    background-image: url(../images/despacho.jpg);
    height: 400px;
    border-radius: 10px;
    text-align: center;
    flex: 65%;
    opacity: 80%;
    color: #ff5100; }
  .container1 p {
    flex: 35%;
    font-weight: bolder;
    font-size: large;
    text-align: justify; }
  .container1 a {
    color: blue; }
  .container2 {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    color: #aeafb7;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;
    column-gap: 150px;
    height: 780px; }
  .container2
.shaders {
    box-shadow: 10px 5px 5px lightblue; }
  h1 {
    text-align: center;
    font-weight: bold; }
  h3 {
    text-align: center;
    font-weight: bold; }
  p {
    text-align: center; }
  #span-color {
    color: #6cc5e2; }
  h2 {
    text-align: center;
    font-weight: bold; }
  .caja-principal {
    display: grid;
    grid-template-areas: "caja-accidente caja-definicion-accidente" " caja-despido caja-definicion-despido" "caja-jubilacion   caja-definicion-jubilacion";
    grid-template-columns: 1fr 2fr;
    row-gap: 200px;
    column-gap: 50px;
    height: 1500px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; }
  .caja-accidente {
    display: grid;
    grid-area: caja-accidente;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background: url(./images/casco.jpg);
    background-size: cover;
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold; }
  .caja-definicion-accidente {
    display: grid;
    grid-area: caja-definicion-accidente;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold; }
  .caja-despido {
    display: grid;
    grid-area: caja-despido;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background: url(./images/despido.jpg);
    background-size: cover;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: center; }
  .caja-definicion-despido {
    display: grid;
    grid-area: caja-definicion-despido;
    background-color: whitesmoke;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold; }
  .caja-jubilacion {
    display: grid;
    grid-area: caja-jubilacion;
    background: url(./images/old-folks.jpg);
    background-size: contain;
    opacity: 80%;
    justify-items: center;
    align-items: center;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px; }
  .caja-definicion-jubilacion {
    display: grid;
    grid-area: caja-definicion-jubilacion;
    background-color: whitesmoke;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-weight: bold; }
  .caja-definicion-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .cajafinal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 800px;
    background: linear-gradient(35deg, #0bc1c1, #1d0fe4); }
  .caja-contacto {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    border-radius: 15px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  .caja-contacto:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-mail {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    border-radius: 15px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  .caja-mail:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  .caja-telefono {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    border-radius: 15px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  .caja-telefono:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #075f81; } }
  a {
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center; } }

.mapa-color-contacto {
  background-color: #5500ff; }

.mapa-color-mail {
  background-color: blue; }

.mapa-color-telefono {
  background-color: purple; }

.mapa-color-fondo-1 {
  background-color: whitesmoke; }

.mapa-color-fondo-2 {
  background-color: blue; }

.fondo-fondo-1 {
  color: whitesmoke !important; }

.fondo-fondo-2 {
  color: blue !important; }

#linksj {
  color: aliceblue; }

#linkcontacto {
  color: aliceblue; }
