.contacto {
  display: flex;
  height: 150px;
  align-items: flex-end;
  justify-content: center;
  font-size: 200%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.nuestros-servicios {
  height: 400px;
  font-weight: bolder;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 200%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  animation-name: onion2;
  animation-duration: 4s; }

@keyframes onion2 {
  0% {
    background-color: #00e5ff; }
  25% {
    background-color: #3700ff; }
  50% {
    background-color: #00e5ff; }
  75% {
    background-color: #3700ff; }
  100% {
    background-color: #00e5ff; } }

.encabezado {
  padding-top: 200px;
  padding-bottom: 100px; }

.background {
  border-radius: 20px;
  width: 100%;
  height: 450px;
  margin: auto;
  background: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  color: #b6bfc7;
  opacity: 10px; }

.background-1 {
  border-radius: 20px;
  width: 100%;
  height: 450px;
  margin: 50px auto;
  background: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  opacity: 10px; }

span {
  color: red; }

#parrafo {
  color: #cfcee3; }

#no-point {
  list-style-type: circle; }

.div-grid {
  height: 500px;
  justify-content: start; }

.encabezado p {
  font-weight: bold;
  font-size: 20px;
  text-size-adjust: 2px;
  padding-top: 100px; }

/* TRABAJO SOBRE LAS PAGINAS SECUNDARIAS */
.englobador {
  height: 500px;
  display: grid;
  grid-template-areas: "englobado1 englobado2" "englobado3 englobado4";
  row-gap: 35px;
  column-gap: 35px; }

.englobado1 {
  background-color: #6154ef;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado1; }

.englobado2 {
  background-color: #6154ef;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado2; }

.englobado3 {
  background-color: #6154ef;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado3; }

.englobado4 {
  background-color: #6154ef;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  grid-area: englobado4; }

.englobado1:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #d0478c; } }

.englobado2:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #d0478c; } }

.englobado3:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #d0478c; } }

.englobado4:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes onion {
  100% {
    background-color: #d0478c; } }

/* MEDIA QUERY HASTA 500PX */
@media screen and (min-width: 100px) and (max-width: 500px) {
  .container1 {
    background-color: white;
    color: black;
    text-align: justify;
    max-width: max-content;
    color: #aeafb7;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace; }
  h1 {
    text-align: center; }
  p {
    text-align: center; }
  h2 {
    text-align: center; }
  .cajafinal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 800px;
    background: whitesmoke; }
  .caja-contacto {
    display: flex;
    align-self: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: #1a1a1e;
    align-items: flex-end;
    height: 400px;
    border-radius: 15px;
    width: 70%;
    justify-content: center;
    font-weight: bolder;
    margin: 30px; }
  .caja-contacto:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-mail {
    display: flex;
    align-self: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: #1a1a1e;
    align-items: flex-end;
    height: 400px;
    border-radius: 15px;
    width: 70%;
    justify-content: center;
    font-weight: bolder;
    margin: 30px; }
  .caja-mail:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-telefono {
    display: flex;
    align-self: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
    background-position: 30cm;
    background-size: 90%;
    opacity: 75%;
    color: #1a1a1e;
    align-items: flex-end;
    height: 400px;
    border-radius: 15px;
    width: 70%;
    justify-content: center;
    font-weight: bolder;
    margin: 30px; }
  .caja-telefono:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-principal {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 650px; }
  .caja-empresarial {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-laboral {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-laboral:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-societaria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-societaria:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-definicion-societaria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-definicion-societaria:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-definicion-laboral {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-definicion-laboral:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-definicion-empresarial {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    opacity: 80%;
    font-weight: bold;
    height: 200px; }
  .caja-definicion-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  a {
    color: white; } }

/*  MEDIA QUERY  MAYOR A 500PX */
@media screen and (min-width: 501px) {
  .container1 {
    background-image: url(martillo.jpg);
    background-size: cover;
    text-align: justify;
    max-width: max-content;
    color: #aeafb7;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace; }
  h1 {
    text-align: center; }
  p {
    text-align: center; }
  h2 {
    text-align: center; }
  .caja-principal {
    display: grid;
    grid-template-areas: "caja-definicion-societaria caja-definicion-laboral caja-definicion-empresarial" "caja-empresarial          caja-laboral                  caja-societaria";
    row-gap: 200px;
    column-gap: 200px;
    height: 1500px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; }
  .caja-empresarial {
    display: grid;
    grid-area: caja-empresarial;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    font-weight: bold; }
  .caja-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-laboral {
    display: grid;
    grid-area: caja-laboral;
    background-color: #6154ef;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold; }
  .caja-laboral:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-societaria {
    display: grid;
    grid-area: caja-societaria;
    background-color: #6154ef;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold; }
  .caja-societaria:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-definicion-societaria {
    display: grid;
    grid-area: caja-definicion-societaria;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6154ef;
    font-weight: bold; }
  .caja-definicion-societaria:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-definicion-laboral {
    display: grid;
    grid-area: caja-definicion-laboral;
    background-color: #6154ef;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold; }
  .caja-definicion-laboral:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-definicion-empresarial {
    display: grid;
    grid-area: caja-definicion-empresarial;
    background-color: #6154ef;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold; }
  .caja-definicion-empresarial:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .cajafinal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 800px;
    background: linear-gradient(35deg, #0bc1c1, #1d0fe4); }
  .caja-contacto {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    border-radius: 15px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  .caja-contacto:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-mail {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    border-radius: 15px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  .caja-mail:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  .caja-telefono {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 400px;
    border-radius: 15px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  .caja-telefono:hover {
    transform: scale(1.1);
    animation-name: onion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  @keyframes onion {
    100% {
      background-color: #d0478c; } }
  a {
    color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center; } }

.mapa-color-contacto {
  background-color: #5500ff; }

.mapa-color-mail {
  background-color: blue; }

.mapa-color-telefono {
  background-color: purple; }

.mapa-color-fondo-1 {
  background-color: whitesmoke; }

.mapa-color-fondo-2 {
  background-color: blue; }

.fondo-fondo-1 {
  color: whitesmoke !important; }

.fondo-fondo-2 {
  color: blue !important; }
