body {
    background-color: #1d0fe4;
    margin: auto;
    height: 100%;
    width: 960px;
}

  .nuestros-servicios {
    font-weight: bolder;

    position: relative;
    animation-name: onion2;
    animation-duration: 4s;
    
 }

 @keyframes onion2{
  0%   {background-color:rgb(0, 229, 255); left:0px; top:0px;}
  25%  {background-color:rgb(55, 0, 255); left:200px; top:0px;}
  50%  {background-color:rgb(0, 229, 255); left:0px; top:200px;}

}



h2 {

    margin-left: 0px;
    font-size: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/* TRABAJO SOBRE LAS PAGINAS SECUNDARIAS */


.englobador {

  height: 500px;
  display: grid;
  grid-template-areas: 
   "englobado1 englobado2"
   "englobado3 englobado4";
   row-gap: 35px;
   column-gap: 35px;
}

.englobado1 {
  background-color: #6154ef;
  grid-area: englobado1;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

.englobado2 {
  background-color: #6154ef;
  grid-area: englobado2;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

.englobado3 {
  background-color: #6154ef;
  grid-area: englobado3;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

.englobado4 {
  background-color: #6154ef;
  grid-area: englobado4;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}

.englobado1:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

@keyframes onion  {
  100% {
background-color: #d0478c;}
}

.englobado2:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

@keyframes onion  {
  100% {
background-color: #d0478c;}
}

.englobado3:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

@keyframes onion  {
  100% {
background-color: #d0478c;}
}

.englobado4:hover {
  transform: scale(1.1);
  animation-name: onion;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

@keyframes onion  {
  100% {
background-color: #d0478c;}
}



.background {

    border-radius: 20px;
    width: 100%;
    height: 450px;
    margin: auto;
    background: linear-gradient(35deg, #0bc1c1, #1d0fe4);
    font-family:'Courier New', Courier, monospace;
    color: rgb(182, 191, 199);
    opacity: 10px;
    }

    .background-1 {

        border-radius: 20px;
        width: 100%;
        height: 450px;
        margin: 50px auto;
        background: linear-gradient(35deg, #0bc1c1, #1d0fe4);
        font-family:'Courier New', Courier, monospace;
        
        opacity: 10px;
        }




span {

    color: black;
}

#parrafo {
    color: #cfcee3;
}

.container {
    background-image: url(martillo.jpg);
    background-size: cover;
    text-align: justify;
    


    
    
    

    max-width:max-content;
    color: rgb(174, 175, 183);
    
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}







                
              
    #no-point {

        list-style-type:circle ;
    }

    .div-grid {
        height: 500px;
        justify-content: start
    } 

    /* MEDIA QUERY HASTA 500PX */

    @media screen and (min-width: 100px) and (max-width: 500px)  { 
        
      h1 {
        text-align: center;
      }
  
      p {
        text-align: center;
      }
  
      h2 {
        text-align: center;
      }

        .cajafinal {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        height:800px;
        background: linear-gradient(35deg, #0bc1c1, #1d0fe4);
    }

    .caja-contacto {
        display: flex;
        align-self: center;
        background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
        background-position: 30cm;
        background-size: 90%;
        opacity: 75%;
        color: rgb(26, 26, 30);
        align-items: flex-end;
        height:400px;
        border-radius: 15px ;
        width: 70%;
        justify-content: center;
        font-weight: bolder;
        margin: 30px;
        
        
    }

    .caja-contacto:hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration:0.5s;
        animation-fill-mode: forwards;}

 @keyframes onion {

   
        100% {
     background-color: #d0478c;
    }
 }


        .caja-mail {
          display: flex;
          align-self: center;
          background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
          background-position: 30cm;
          background-size: 90%;
          opacity: 75%;
          color: rgb(26, 26, 30);
          align-items: flex-end;
        height:400px;
        border-radius: 15px ;
        width: 70%;
        
        justify-content: center;
        font-weight: bolder;
        margin: 30px;
    }

    .caja-mail:hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration:0.5s;
        animation-fill-mode: forwards;
  }

    @keyframes onion  {
        100% {
     background-color: #d0478c;}
     }


    .caja-telefono {
      display: flex;
      align-self: center;
      background-image: url(https://img.freepik.com/vector-gratis/diseno-balanza-color_1010-508.jpg);
      background-position: 30cm;
      background-size: 90%;
      opacity: 75%;
      color: rgb(26, 26, 30);
      align-items: flex-end;
        height:400px;
        border-radius: 15px ;
        width: 70%;
        
        justify-content: center;
        font-weight: bolder;
        margin: 30px;
    
    }

    .caja-telefono:hover {
        transform: scale(1.1);
        animation-name: onion;
        animation-duration:0.5s;
        animation-fill-mode: forwards;
  }

    @keyframes onion  {
        100% {
     background-color: #d0478c;}
     }


     .caja-principal {
      display: flex; 
      flex-direction: column;
      row-gap: 40px; 
      height: 650px;
      
      }
  
  .caja-empresarial {
      
      justify-items: center;
      align-items: center;
      border-radius: 10px;
      background-color: #6154ef;
      opacity: 80%;
      font-weight: bold;}
  
      .caja-empresarial:hover {
          transform: scale(1.1);
          animation-name: onion;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
    }
  
      @keyframes onion  {
          100% {
       background-color: #d0478c;
      }
    }
      
  
  
  .caja-laboral {
     
      background-color: #6154ef;
      justify-items: center;
      
      align-items: center;
      border-radius: 10px;
      font-weight: bold;
      
      opacity: 80%;}
  
      .caja-laboral:hover {
          transform: scale(1.1);
          animation-name: onion;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
    }
  
      @keyframes onion  {
          100% {
       background-color: #d0478c;
      }
    }
  
  .caja-societaria {
      
      background-color:#6154ef;
      justify-items: center;
      align-items: center;
      border-radius: 10px;
      
      font-weight: bold;
      opacity: 80%;
      }
  
      .caja-societaria:hover {
          transform: scale(1.1);
          animation-name: onion;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
    }
  
      @keyframes onion  {
          100% {
       background-color: #d0478c;
      }
    }
      .caja-definicion-societaria {
          display: flex;
          justify-items: center;
          align-items: center;
          border-radius: 10px;
          background-color:#6154ef;
          
          font-weight: bold;
          opacity: 80%;
          }
  
          .caja-definicion-societaria:hover {
              transform: scale(1.1);
              animation-name: onion;
              animation-duration:0.5s;
              animation-fill-mode: forwards;
        }
      
          @keyframes onion  {
              100% {
           background-color: #d0478c;
          }
        }
          .caja-definicion-laboral {
              display: flex;
              background-color:#6154ef;
              justify-items: center;
              align-items: center;
              border-radius: 10px;
              
              font-weight: bold;
              opacity: 80%;
              }
  
              .caja-definicion-laboral:hover {
                  transform: scale(1.1);
                  animation-name: onion;
                  animation-duration:0.5s;
                  animation-fill-mode: forwards;
            }
          
              @keyframes onion  {
                  100% {
               background-color: #d0478c;
              }
            }
              .caja-definicion-empresarial {
                  display: flex;
                  background-color:#6154ef       ;
                  justify-items: center;
                  align-items: center;
                  border-radius: 10px;
                  
                  font-weight: bold;
                  opacity: 80%;
              
                  }
  
                  .caja-definicion-empresarial:hover {
                      transform: scale(1.1);
                      animation-name: onion;
                      animation-duration: 0.5s;
                      animation-fill-mode: forwards;
                }
              
                  @keyframes onion  {
                      100% {
                   background-color: #d0478c;
                  }
                }
}


    /*  MEDIA QUERY PARA CAJA FINAL MAYOR A 500PX */

  

    @media screen and (min-width: 501px)
   {
    
    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  



    .caja-principal {
      display: grid;
      grid-template-areas: 
      "caja-definicion-societaria caja-definicion-laboral caja-definicion-empresarial"
      "caja-empresarial          caja-laboral                  caja-societaria";
      background-image: url(https://www.latam-legal.com/wp-content/uploads/2021/04/law-scales-of-justice-2-fotolia-750x375.jpg);
      row-gap: 30px;
      column-gap: 30px;
      
      height: 400px;
      
  
     
  }
  
  .caja-empresarial {
      display: grid;
      grid-area: caja-empresarial;
      justify-items: center;
      align-items: center;
      border-radius: 10px;
      background-color: #6154ef;
      opacity: 80%;
      font-weight: bold;}
  
      .caja-empresarial:hover {
          transform: scale(1.1);
          animation-name: onion;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
    }
  
      @keyframes onion  {
          100% {
       background-color: #d0478c;
      }
    }
      
  
  
  .caja-laboral {
      display: grid;
      grid-area: caja-laboral;
      background-color: #6154ef;
      justify-items: center;
      justify-items: center;
      align-items: center;
      border-radius: 10px;
      font-weight: bold;
      
      opacity: 80%;}
  
      .caja-laboral:hover {
          transform: scale(1.1);
          animation-name: onion;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
    }
  
      @keyframes onion  {
          100% {
       background-color: #d0478c;
      }
    }
  
  .caja-societaria {
      display: grid;
      grid-area: caja-societaria;
      background-color:#6154ef;
      justify-items: center;
      align-items: center;
      border-radius: 10px;
      
      font-weight: bold;
      opacity: 80%;
      }
  
      .caja-societaria:hover {
          transform: scale(1.1);
          animation-name: onion;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
    }
  
      @keyframes onion  {
          100% {
       background-color: #d0478c;
      }
    }
      .caja-definicion-societaria {
          display: grid;
          justify-items: center;
          align-items: center;
          border-radius: 10px;
          background-color:#6154ef;
          
          font-weight: bold;
          opacity: 80%;
          }
  
          .caja-definicion-societaria:hover {
              transform: scale(1.1);
              animation-name: onion;
              animation-duration:0.5s;
              animation-fill-mode: forwards;
        }
      
          @keyframes onion  {
              100% {
           background-color: #d0478c;
          }
        }
          .caja-definicion-laboral {
              display: grid;
              background-color:#6154ef;
              justify-items: center;
              align-items: center;
              border-radius: 10px;
              
              font-weight: bold;
              opacity: 80%;
              }
  
              .caja-definicion-laboral:hover {
                  transform: scale(1.1);
                  animation-name: onion;
                  animation-duration:0.5s;
                  animation-fill-mode: forwards;
            }
          
              @keyframes onion  {
                  100% {
               background-color: #d0478c;
              }
            }
              .caja-definicion-empresarial {
                  display: grid;
                  background-color:#6154ef        ;
                  justify-items: center;
                  align-items: center;
                  border-radius: 10px;
                  
                  font-weight: bold;
                  opacity: 80%;
                  ;
                  }
  
                  .caja-definicion-empresarial:hover {
                      transform: scale(1.1);
                      animation-name: onion;
                      animation-duration: 0.5s;
                      animation-fill-mode: forwards;
                }
              
                  @keyframes onion  {
                      100% {
                   background-color: #d0478c;
                  }
                }
    


  .cajafinal {

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      height:800px;
      background: linear-gradient(35deg, #0bc1c1, #1d0fe4);
  }

  .caja-contacto {
      display: flex;
      flex-direction: column;
      align-self: center;
      background-color: blue;
      height:400px;
      border-radius: 15px ;
      width: 20%;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      
      
  }

  .caja-contacto:hover {
      transform: scale(1.1);
      animation-name: onion;
      animation-duration:0.5s;
      animation-fill-mode: forwards;}

@keyframes onion {

 
      100% {
   background-color: #d0478c;
  }
}


      .caja-mail {
      display: flex;
      align-self: center;
      background-color: rgb(85, 0, 255);
      height:400px;
      border-radius: 15px ;
      width: 20%;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
  }

  .caja-mail:hover {
      transform: scale(1.1);
      animation-name: onion;
      animation-duration:0.5s;
      animation-fill-mode: forwards;
}

  @keyframes onion  {
      100% {
   background-color: #d0478c;}
   }


  .caja-telefono {
      display: flex;
      align-self: center;
      background-color: rgb(128, 0, 255);
      height:400px;
      border-radius: 15px ;
      width: 20%;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
  
  }

  .caja-telefono:hover {
      transform: scale(1.1);
      animation-name: onion;
      animation-duration:0.5s;
      animation-fill-mode: forwards;
}

  @keyframes onion  {
      100% {
   background-color: #d0478c;}
   }
  }